<div class="container">
  <div class="jumbotron">
  <h1>Quotes</h1>
</div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div class="bordr col-md-6">
      <div class="card" *ngFor="let quote of quotes;let i = 'index'">
        <div class="card-header">
          Quote
        </div>
        <div class="card-body row">
          <h4 class="card-title" id="{{i}}" appStrikethrough>-{{quote.name}}</h4>
        </div>
        {{quote.completeDate|date}}
        <div *ngIf="quote.showDescription">
          <app-quote-content [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-content>
        </div>
        <div class="card-footer">
        <em> Submitted by {{quote.submit}}</em>
        </div>
        <button class="btn btn-primary " (click)='toogleDetails(i)'>Toggle Details</button>
      </div>
    </div>
  </div>
</div>
